/* Elements */
body {
    background-color: white;
    font-size: 11pt;
    font-weight: 400;
    color: #333;
    width: 100vw;
    height: 100svh;
    margin: 8px;
    padding: 0px;
}

header {
    background-color: red;
    height: auto;
    padding: 20px;
    margin: 0px;
}

main {
    width: 100%;
    padding: 30px 100px;
    box-sizing: border-box;
}

P {
    color: green;
}


/* IDs */


/* Classes */
